@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Comfortaa', cursive;
        @apply bg-background text-text overflow-hidden
    }
}

@layer utilities {
    .title-page-a {
        @apply px-3 hover:underline cursor-pointer
    }

    .h-screen { /* Correction for mobile */
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

}